run = "Mascotas"
[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "Mascotas"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 43089235
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "javac Main.java && java Main"
